{% block content %}
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <h3 class="title">Sammie</h3>
          <br>
          <h4 class="subtitle">This Website was Created by <a href="https://hk.linkedin.com/in/chun-cheong-so-12537917a" style="text-decoration: none;">Adrian</a></h4>
          <h4 class="subtitle">Credit to pysummarization</h4>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Sammie's Objective</p><br>
          <p class="subtitle">Help your to understand all your articles quicker, more concise and precise</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Sammie Summarized</p>
          <p class="subtitle">First Prototype (English only) and how to use it by summarizing long articles</p>
          <div class="columns is-centered">
            <div>
              <iframe src="https://player.vimeo.com/video/396630512" width="340" height="300" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <a href="mailto: adrian1145d98@gmail.com" style="text-decoration: none;">
          <p class="title">Contact US</p>
          <p class="subtitle">We are your faithful assistant</p>
        </a>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">Come and Call</p>
        <p class="subtitle">Login here:</p>
        <div class="content">
          <div class="field">
            <form method="post">
              {% csrf_token %}
              <label class="label" for="username">Username:</label>
              <div class="control">
                <input type="text" name="username" class="input" placeholder="Username"><br>
              </div>
              <label class="label" for="password">Password:</label>
              <div class="control">
                <input type="password" name="password" class="input" placeholder="Password">
              </div>
              <br>
              <input type="submit" value="Log In" class="button is-link"></input>
            </form>
          </div>
          <h3>If you have not registered, then, what are you waiting for!</h3>
          <h4>
            <a href="{%url 'RegisterS' %}" class="button" style="text-decoration: none;">Come and Register here!</a>
          </h4>
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}
