{% block content %}
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Sammie</p>
          <p class="subtitle">Your favorite summarizer</p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Summarize your long text here</p>
          <p class="subtitle">Help your to understand all your articles quicker, more concise and precise</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Sammie Summarized</p>
          <p class="subtitle">First Prototype and how to use it</p>
          <figure class="image is-4by3">
            <img src="../static/images/asd.png">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">Contact US</p>
        <p class="subtitle">We are your faithful assistant</p>
        <div class="content">
          <a href="mailto: adrian1145d98@gmail.com" style="text-decoration: none;">
            Adrian So.
          </a>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">Come and Call</p>
        <p class="subtitle">Login here:</p>
        <div class="content">
          <div class="field">
            <form method="post">
              {% csrf_token %}
              <label class="label" for="username">Username:</label>
              <div class="control">
                <input type="text" name="username" class="input" placeholder="Username"><br>
              </div>
              <label class="label" for="password">Password:</label>
              <div class="control">
                <input type="password" name="password" class="input" placeholder="Password">
              </div>
              <br>
              <input type="submit" value="Log In" class="button is-link"></input>
            </form>
          </div>
          <h3>If you have not registered, then, what are you waiting for!</h3>
          <h4>
            <a href="{%url 'RegisterS' %}" class="button" style="text-decoration: none;">Come and level up your efficiency!</a>
          </h4>
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}
